.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #1f1f1f;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  width: 120px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
  width: calc(100% - 120px); /* Width for labels and inputs next to each other */
  padding: 10px;
  margin-top: 5px;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 4px;
  color: #fff;
}

textarea {
  height: 100px;
  resize: vertical;
}

input[type="number"] {
  max-width: 80px;
}

.runtime-inputs input {
  width: 70px;
}

.runtime-inputs span {
  margin-left: 5px;
}

.form-group.horizontal {
  display: flex;
  align-items: center;
}

.form-group.horizontal input,
.form-group.horizontal select {
  width: 50%;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.submit-button {
  background-color: #28a745;
  color: #fff;
}

.submit-button:hover {
  background-color: #218838;
}

.cancel-button {
  background-color: #dc3545;
  color: #fff;
}

.cancel-button:hover {
  background-color: #c82333;
}